page-register {
    ion-content {
        //background-color: linear-gradient(0deg, #eeeef1 0%, white 70%, white 100%);
        // background: url('../../assets/images/background/app_bg.png') no-repeat center;
      background-size: cover;
      img {
        max-width: 72px;
        max-height: 72px;
        margin-bottom: 24px;
        display: block;
      }
      }
      
    ion-grid,
    ion-row {
      height: 100%;
    }
    [stacked] {
      font-size: 10px !important;
    }
    [no-lines] ion-label{
      color: red;
    }
}
