page-user-profile {
    ion-content {
        //background-color: linear-gradient(0deg, #eeeef1 0%, white 70%, white 100%);
        background: url('../../assets/images/background/app_bg.png') no-repeat center;
      background-size: cover;
      }
    ion-grid,
    ion-row {
      height: 100%;
    }
    .transparent-header .toolbar-background,
       .transparent-header ion-navbar,
        .transparent-header ion-header {
        background: transparent !important;
        background-color: transparent !important;
      }
      .transparent-header ion-header::after{
        background-image:none;
      }
      .transparent-header .back-button{
        color:theme-colors('textColors', 'accent');
      }
    // Avatar
    ion-thumbnail {
      display: block;
      clear: both;
      filter: none;
      opacity: 1;
     padding-top:30px;
      img {
        max-width: 72px;
        max-height: 72px;
      }
    }
    // Title
    [title] {
      margin-right: 20%;
      font-size: font-size-text('h1') !important;
      font-weight: bold;
      line-height: 34px;
    }
  
    [stacked] {
      font-size: 10px !important;
    }
    [no-lines] ion-label{
      color: red;
    }
}
